<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <title>XLR8 | Maps</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <script type="text/javascript" src="{% static 'jquery-1.11.1.min.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <style>
    .row{margin-bottom: 0.761vh;}
    </style>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
</head>
<body style="border: 1vh solid black; display: flex; flex-direction: row;">
    <div id="MapLocation" style="width: 68vw; height: 98vh; border-right: 0.7vw solid black;">

    </div>

    <div id="Loader" class="preloader-wrapper big" style="position: absolute; z-index: 10000; left: 32vw; top: 48vh;">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div>
   
    <div id="Side" style="display: flex; flex-direction: column; height: 98vh; width: 31.3vw">
        <div id="Logo" style="display: flex; flex-direction: row; align-items: center; justify-content: space-around; height: 15vh; width: 31.3vw; background: black; border-bottom: 1vh solid black;">
            <img src="{% static 'xlr8_white.png' %}" alt="xlr8" style="width:18.17vh;height:13vh;">
        </div>
        <div id="Tools" style="display: flex; flex-direction: column; height: 83vh; width: 31.3vw; background:;">
            <div class="row" style="display: flex; height: 83vh; overflow-y: scroll;">
                <form class="col s12">
                    <div id = "form-fields">
                        {% csrf_token %}
                      <div class="row" id = "field1">
                        <div class="input-field col s4">
                            <input placeholder="Source" id="src1" type="number" class="validate">
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Destination" id="dest1" type="number" class="validate">
                        </div>
                        <div class="input-field col s2">
                            <label>
                                <input type="checkbox" class = "check" id="spec1" value=1 /><span></span>
                            </label>
                        </div>
                      </div>
                  </div>
                </form>
            </div>
           
             <div class="row" style="display: flex; width: 31.3vw; align-items: center; justify-content: space-between; background: white; margin-bottom: 4vh; ">
                <a class="add-more btn-floating btn-small black white-text" style="margin-left: 11.416vh;"><i class="material-icons white-text">add</i></a>
                <button id="subform" class="btn waves-effect waves-light black white-text"  type="submit" name="action">Submit
                <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
  </div>


        </div>
    </div>

</body>
</html>